/* CSS Style Code  */

/* .footer {
  background-color: #343a40;
  color: #fff;
}

.footer h4 {
  padding-bottom: 10px;
}

.footer p {
  font-size: 16px;
}

.footer ul li a {
  color: #fff;
}

.footer ul li a:hover {
  color: #bbb;
}

.footer .text-muted {
  background-color: #212529;
  padding: 8px;
} */
